<div class="item-card">
    <img class="item-image" [src]="item.img" [alt]="item.name" />
    <div class="item-content">
        <h1 class="item-title">{{ item.name }}</h1>
        <p class="item-description">{{ item.shortDescription }}</p>
    </div>
    <div class="item-details">
        <span class="item-price">{{ item.price.amount }} / {{ item.price.unit }}</span>
    </div>
    <div class="item-buttons">
        <a class="view-details-link" [routerLink]="['/items', item.id]">More Info</a>
        <button class="add-to-cart-btn">Add to Cart</button>
    </div>
</div>