<div id="privacy-container">
    <div class="privacy-box">
        <h6>Privacy Policy</h6>
        <article>
            <h2>1. Introduction</h2>
            <p>
                Welcome to "What to Eat". Your privacy is important to us, and we are committed to protecting the
                personal
                information you provide to us. This Privacy Policy outlines how we collect, use, and safeguard your
                data.
            </p>

            <h2>2. Information We Collect</h2>
            <p>
                We collect certain types of information to provide better services to all of our users. This includes:
            </p>
            <ul>
                <li>Personal information such as your name, email address, and contact details.</li>
                <li>Usage data such as the pages you visit, how long you stay, and your interactions with the website.
                </li>
            </ul>

            <h2>3. How We Use Your Information</h2>
            <p>
                The information we collect is used for the following purposes:
            </p>
            <ul>
                <li>To provide and maintain the website and its services.</li>
                <li>To improve the user experience and website functionality.</li>
                <li>To communicate with you about updates, new features, and promotions.</li>
            </ul>

            <h2>4. Sharing Your Information</h2>
            <p>
                We do not sell or rent your personal information to third parties. We may share your information with
                service providers who assist us in operating our website or delivering services to you.
            </p>

            <h2>5. Your Rights</h2>
            <p>
                You have the right to access, update, or delete your personal information at any time. To exercise your
                rights, please contact us at <a href="mailto:privacy@whattoeat.com">privacy&#64;whattoeat.com</a>.
            </p>

            <h2>6. Changes to the Privacy Policy</h2>
            <p>
                We may update this Privacy Policy from time to time.
            </p>

            <h2>7. Contact Us</h2>
            <p>
                If you have any questions or concerns about this Privacy Policy, please contact us at
                <a href="mailto:privacywhattoeat.com">privacy&#64;whattoeat.com</a>.
            </p>
        </article>
    </div>
</div>