<div id="home-container">
    <!-- <h1>Welcome to What to Eat</h1> -->
    <!-- Tog bort denna då det inte såg så bra ut? -->

    <div id="card-container">
        <div class="home-card">
            <h2>Generate Recipe</h2>
            <p>Let us help you decide what to cook based on your preferences and ingredients!</p>
            <img src="/assets/images/generate-recipe-icon.webp" alt="Generate Recipe Icon" class="card-icon">
            <a routerLink="/generator" class="home-card-btn">Get Started</a>
        </div>

        <div class="home-card">
            <h2>All Recipes</h2>
            <p>Explore our complete collection of delicious and easy-to-make recipes.</p>
            <img src="/assets/images/full-recipe-icon.webp" alt="All Recipes Icon" class="card-icon">
            <a routerLink="/recipes" class="home-card-btn">View Recipes</a>
        </div>

        <!-- <div class="home-card">
            <h2>Random Recipe</h2>
            <p>Feeling adventurous? Get a surprise recipe to try out today!</p>
            <img src="/assets/images/random-recipe-icon.webp" alt="Random Recipe Icon" class="card-icon">
            <a routerLink="/generator" class="home-card-btn">Discover</a>
        </div> -->
    </div>
</div>