<div id="home-container">
    <div id="card-container">
        <div class="home-card">
            <img src="/assets/images/generate-recipe-icon.webp" alt="Generate Recipe Icon" class="card-icon">
            <a routerLink="/generator" class="home-card-btn">Generate Recipe</a>
        </div>

        <div class="home-card">
            <img src="/assets/images/full-recipe-icon.webp" alt="All Recipes Icon" class="card-icon">
            <a routerLink="/recipes" class="home-card-btn">View All Recipes</a>
        </div>
    </div>
</div>