<div id="generate-container">
    <div class="generate-box">
        <h2><a href="">Generate Recipe</a></h2>
    </div>
    <div class="generate-box">
        <h2><a href="">Random Recipe</a></h2>
    </div>
</div>

<div id="tutorial-container">
    <div class="tutorial-box">
        <h2 id="how-it-works-header-text"><a href=""></a>How it works</h2>
        <article>
            <ul>
                <li>Choose to generate a recipe</li>
                <li>Select what ingredients you want to use</li>
                <li>Choose how much time you want to spend cooking</li>
                <li>Select what type of dish you want</li>
                <li>The APP AI will choose a dish for you accordingly</li>
                <li>Enjoy your time cooking and a tasty meal!</li>
            </ul>
        </article>
    </div>
    <div class="tutorial-box">
        <img src="assets/images/tablet-and-food.png" alt="A picture of an instruction manual">
    </div>
</div>