#home-container {
  text-align: center;
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

#generate-btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s, transform 0.2s;
  position: relative;
  top: -15%;
}

#generate-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#generate-btn:active {
  background-color: #003f88;
  transform: scale(0.98);
}

#view-all-recipes-link {
  position: absolute;
  bottom: 30%;
  right: 5%;
  font-size: 1rem;
  color: #007bff;
  text-decoration: underline;
  transition: color 0.2s ease, transform 0.2s;
}

#view-all-recipes-link:hover {
  color: #0056b3;
  transform: scale(1.05);
}

#view-all-recipes-link:active {
  color: #003f88;
}
