:root {
  --full-height: 100vh;
}

#home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  min-height: var(--full-height);
  overflow: hidden;
}
