<header id="header-container">
    <a routerLink="/" id="logo-link">
        <img id="header-image" src="/assets/images/logos/what-to-eat-logo7.png" alt="What to Eat Logo">
    </a>

    <!-- Desktop Navigation -->
    <nav id="desktop-navbar">
        <ul id="desktop-menu">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/items">Shop</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/cart">Cart</a></li>
        </ul>
    </nav>

    <!-- Mobile Navigation -->
    <nav id="mobile-navbar">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul id="mobile-menu">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/shop">Shop</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/cart">Cart</a></li>
        </ul>
    </nav>
</header>
