<div id="generator-container">
    <h2 id="generator-header">Find a Random Recipe</h2>

    <button id="random-recipe-btn" (click)="getRandomRecipe()">Get Random Recipe</button>

    <div *ngIf="randomRecipe" id="recipe-display">
        <!-- använder ngIf för att först se om randonRecipe är true (enndast då renderar vi receptet) -->
        <h3>{{ randomRecipe.name }}</h3>
        <img [src]="randomRecipe.img" [alt]="randomRecipe.name" class="recipe-image" />
        <p>{{ randomRecipe.description }}</p>
        <div>
            <h4>Ingredients:</h4>
            <ul>
                <li *ngFor="let ingredient of randomRecipe.ingredients">
                    {{ ingredient.quantity.amount }} {{ ingredient.quantity.unit }} - {{ ingredient.name }}
                </li>
            </ul>
        </div>
        <div>
            <h4>Steps:</h4>
            <ol>
                <li *ngFor="let step of randomRecipe.steps">
                    Step {{ step.stepNumber }}: {{ step.description }}
                </li>
            </ol>
        </div>
    </div>
</div>