:root {
  --primary-color: #f4f4f4; // like background colour, header etc.
  --secondary-color: #dee2e6; // Colour of the cards
  --tertiary-color: #3c7c59; // Colour of the buttons
  --quaternary-color: #6fa382; // Colour of hoover
  --quinary-color: #1a1a1a; // colour of text
}

/* Global Button Styles */
button,
.button {
  background-color: var(--tertiary-color);
  color: var(--tertiary-color);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/* Hover Effects */
// button:hover,
// .button:hover,
// a:hover {
//   color: var(--tertiary-color);
// }

/*  Links */
a {
  color: var(--tertiary-color);
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
