<div id="header-text">
  <h3>Full Recipe List</h3>
</div>
<div id="recipe-list-container">
  <div class="recipe-box" *ngFor="let recipe of recipes">
    <span class="name-styling">{{ recipe.name }}</span>
    <br>

    <div *ngIf="showFullDescription; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
      {{ recipe.description }}
    </ng-template>
    <ng-template #elseBlock>
      {{ shortenDescription(recipe.description) }}
    </ng-template>

    <br>
    <button (click)="showFullDescription = !showFullDescription">Read more</button>
    <br>

    <span>Cooking Time: {{ detailedCookingTime(recipe.cookingTime) }}</span>
    <br>
    <a [routerLink]="'/recipes/' + recipe.id">See full recipe</a>
    <div><img [src]="recipe.img" alt="{{ recipe.name }} image"></div>
  </div>
</div>
<h3 id="back-to-home-btn"><a routerLink="/">Back to home</a></h3>