#recipe-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recipe-box {
  width: 20rem;
  height: 20rem;
  border: 1px solid black;
}

h3 {
  font-size: 3rem;
}

img {
  height: 12rem;
  width: 15rem;
  object-fit: cover;
}
.recipe-img-box {
}
