<div id="header-text">
  <h3>Full Recipe List</h3>
</div>
<div id="recipe-list-container">
  <div class="recipe-box" *ngFor="let recipe of recipes">
    <span class="name-styling">{{ recipe.name }}</span>
    <br>
    {{ shortenDescription(recipe.description) }}
    <div class="show-more-btn" ng-if="showMore">Show more</div>
    Cooking Time: {{ recipe.cookingTime.minutes }}
    <br>
    <div><img [src]="recipe.img" alt="{{ recipe.name }} image"></div>
  </div>
</div>
<h3 id="back-to-home-btn"><a routerLink="/">Back to home</a></h3>