#recipe-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recipe-box {
  width: 20rem;
  height: 20rem;
  border: 1px solid black;
}

.h3-size {
  font-size: 3rem;
}

#header-text {
  text-align: center;
}

#back-to-home-btn {
  text-align: center;
}
