<div class="recipe-card">
    <img class="recipe-image" src="{{ recipe.img }}" alt="{{ recipe.name }}">
    <div class="recipe-content">
        <h1 class="recipe-title">{{ recipe.name }}</h1>
        <p class="recipe-description">{{ recipe.description }}</p>
    </div>
    <div class="recipe-details">
        <div class="ingredients">
            <h2>Ingredients</h2>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">
                    {{ ingredient.quantity.amount }} {{ ingredient.quantity.unit }} - {{ ingredient.name }}
                </li>
            </ul>
        </div>
        <div class="steps">
            <h2>Steps</h2>
            <ol>
                <li *ngFor="let step of recipe.steps">
                    Step {{ step.stepNumber }}: {{ step.description }}
                </li>
            </ol>
        </div>
        <div class="cooking-time">
            <h3>Cooking Time</h3>
            <p>{{ recipe.cookingTime.hours }} hours {{ recipe.cookingTime.minutes }} minutes</p>
        </div>
    </div>
    <div id="back-to-recipes-container">
        <a id="back-to-recipes-btn" routerLink="/recipes">Back to All Recipes</a>
    </div>
</div>