#page-container {
  display: flex;
  flex-wrap: wrap;
  height: 40rem;
  width: auto;
  border: 1px solid black;
}

#header-box {
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 1px solid red;
}

.page-box {
  height: 10rem;
  width: 15rem;
  border: 1px solid purple;
}
