#header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
}

#logo-link {
  display: inline-block;
}

#header-image {
  width: 10rem;
  height: auto;
  object-fit: contain;
  border-radius: 0.5rem;
}

@media screen and (max-width: 700px) {
  #header-container {
    justify-content: center;
  }

  #header-image {
    width: 8rem;
  }
}
