html {
  font-size: 62, 5%;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

.header-box {
  border: 1px solid black;
}

.main-header-text {
  text-align: center;
}

.second-header-text {
  text-align: center;
}
