#header-container {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem;
  background-color: var(--primary-color);
  position: relative;
  z-index: 1337;
}

#logo-link {
  display: inline-block;
}

#header-image {
  width: 7rem;
  height: auto;
  object-fit: contain;
}

#navbar {
  position: relative;
}

#menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--tertiary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  width: 12rem;
  list-style: none;
  margin: 0;
  z-index: 1000;
}

#menu li {
  margin-bottom: 0.5rem;
}

#menu li:last-child {
  margin-bottom: 0;
}

#menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.2s ease;
}

#menu li a:hover {
  color: #ddd;
}

#menu-toggle {
  display: none;
}

#hamburger-menu {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
  z-index: 1000;
}

#hamburger-menu span {
  display: block;
  height: 0.25rem;
  background-color: #000;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

#menu-toggle:checked + #hamburger-menu + #menu {
  display: flex;
}

// När menu toggle är checked så ändras den till flex och blir då visable

@media screen and (max-width: 700px) {
  #menu {
    width: 8rem;
  }

  #menu li a {
    font-size: 0.9rem;
  }
}
