<div id="about-container">
    <div id="about-box">
        <h6>About</h6>
        <article>
            What to Eat is a modern web app designed to inspire people to cook more and live a healthier lifestyle.
            Our goal is to make cooking simple, enjoyable, and accessible to everyone.
            If you have ever felt uninspired in the kitchen, What to Eat is here to help you discover easy, delicious,
            and healthy recipes for every occasion.
            We are a passionate team of developers committed to promoting healthy eating habits
            and a conscious approach to food. By cooking your own meals, you gain control over your nutrition
            while also saving money and reducing food waste.
        </article>
    </div>
</div>